<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<connectionStrings>
		<add name="sqlsvr" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=VFORM;Connect Timeout=15;Persist Security Info=True;User ID=USER;Password=Password" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="MailServer" value="smtp.gmail.com"/>
		<add key="MailPort" value="587"/>
		<add key="MailAuthUserName" value="itoumizuki1246@gmail.com"/>
		<add key="MailAuthPassWord" value="dwraewrvipcuehuf"/>
		<add key="VformSystemMail" value="m.okumoto.yti@gmail.com"/>
		<add key="MailTo" value="itoumizuki1246@gmail.com"/>
		<add key="MailFrom" value="VFORMお問合せ窓口メール(奥本さんメールアドレス)"/>
		<add key="GmailClientId" value="443273096557-1ecge3ev7tobd1hqeevbcv5hc4bvcsgv.apps.googleusercontent.com"/>
		<add key="GmailSecretId" value="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"/>
		<add key="GmailRefreshToken" value="1//0eqlYbn_fa2zbCgYIARAAGA4SNwF-L9IrM4yJNsADJ528nR3RIt64UG-OaiGgJ8Td3zKtbcKpiXUI8HsS0eHAvlDcDfWQ8oD6b9M"/>
	</appSettings>
</configuration>